@tailwind base;
@tailwind components;
@tailwind utilities;


.poppins {
    font-family: var(--font-Poppins);
}

body {
<<<<<<< HEAD
    background-color: #DEE9FF;
    font-family: 'Poppins', sans-serif;
}
=======

  }
>>>>>>> c7380a8bc6e05e0a48ffbef02c334a9bdd43b4b8
